/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar {
    background: radial-gradient(circle, #f00700 0%, #00c8ff 100%); /*/#F44336, #2196F3/*/
    background-size: 200% auto;
    background-position: left center;
    animation: gradient 4s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: left center;
    }

    100% {
        background-position: right center;
    }
}

body {
    background-image: url(../images/dj-mag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

 .nav-link {
    font-weight: bold;
    color: black;
    font-size: 30px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.img-container {
    height: 250px;
    position: relative;
}

.card .img-blur {
    filter: blur(5px);
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.card img {
    height: 90%;
    object-fit: contain;
    position: relative;
    z-index: 4;
}

.card {
    margin: 3px;
    overflow: hidden;
}

.card-body {
    font-size: 10px;
    height: 200px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background: radial-gradient(circle, #F44336, #2196F3); 
    background-size: 200% auto;
    background-position: left center;
    animation: gradient 4s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: left center;
    }

    100% {
        background-position: right center;
    }
}

p, h1, h2, h5, small {
    color:crimson;
}

#pogination {
    position: sticky;
    bottom: 10px;
    z-index: 5;
}