@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Datum>

<div class="text-center">
    <h1 class="display-4">Music Collection</h1>
    <form method="get" action="/Home/Search" class="input-group mb-3">
        <input name="title" type="text" class="form-control" placeholder="Recipient's artist" aria-label="Recipient's title" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
    </form>
    @if (Model.Count() > 0)
    {
        <h1>Recent musics</h1><hr />
    }
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <partial name="_MusicCardPartial" model="@item"></partial>
        </div>
    }
</div>
